In [2]:
import pandas as pd
import swan_vis as swan
import numpy as np
import os
import sys
import seaborn as sns

p = os.path.dirname(os.path.dirname(os.getcwd()))
sys.path.append(p)

In [6]:
# sg = swan.read('../swan/swan.p')
df = pd.read_csv('../swan/metadata.txt', sep='\t')

In [8]:
df[['cell_line', 'comparisons']].drop_duplicates()

   cell_line comparisons
0       HL60           A
2         M0           B
4      M1.12           C
6      M1.24           D
8      M1.72           E
10     M2.12           F
12     M2.24           G
14     M2.72           H

## Prep file to compare differentiation timepts

In [10]:
sg = '/dfs6/pub/public-www/kmcarval/swan_HL60/swan.p'
d = '/dfs6/pub/public-www/kmcarval/swan_HL60/'
col = 'cell_line'
tests = ['iso']
ofile = open('die_comparisons.tsv', 'w')
tested = []
comparisons = [('HL60', 'M0'), # AxB
               ('M0', 'M1.12'), # BxC
               ('M0', 'M1.24'), # BxD
               ('M0', 'M2.12'), # BxF
               ('M0', 'M2.24'), # BxG
               ('M1.12', 'M2.12'), # CxF
               ('M1.24', 'M2.24'), # DxG
               ('M1.12', 'M1.24'), # CxD
               ('M2.12', 'M2.24')] # FxG
for c in comparisons:
    c1 = c[0]
    c2 = c[1]
        
    for test in tests:
        fname = '{}_{}_{}_die.tsv'.format(c1, c2, test)
        ofile.write('{}\t{}\t{}\t{}\t{}\t{}{}\n'.format(sg, col, c1, c2, test, d, fname))

ofile.close()